.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 500px;
    height: 500px;
}

.search-bar-container {
    display: flex;
    justify-content: center;
}

.search-bar-container input{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 3px solid black;

}

.buttons-container {
    display: flex;
    justify-content: space-around;

}

button {
    margin: 10px;
    width: 120px;
    height: 40px;
    border-radius: 50px;
    color: white;
    font-size: 16px;
}

.cancel-button, .search-button {
    background-color: grey;
    opacity: 0.7;
    border: 1px solid black;
    transition: ease-in 0.3s;
}

.search-button:hover, .cancel-button:hover {
    opacity: 1;
    border: 2px solid black;
}

button:focus, input:focus {
    outline: none;
} 

input:focus::-webkit-input-placeholder {
    color: transparent;
}