@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

.delete-button {
    background-color: red;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    opacity: 0.6;
    transition: ease-in 0.3s;
}

.delete-button:hover {
    border: 1px solid black;
    opacity: 1;
}

.weather-info-container-0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background: rgb(178,163,249);
    background: linear-gradient(90deg, rgba(178,163,249,1) 0%, rgba(206,218,255,1) 50%, rgba(178,163,249,1) 100%);   
}

.weather-info-container-0-20 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background: rgb(242,180,196);
    background: linear-gradient(90deg, rgba(242,180,196,1) 0%, rgba(221,229,255,1) 49%, rgba(242,180,196,1) 100%);
}

.weather-info-container-20 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background: rgb(246,78,121);
    background: linear-gradient(90deg, rgba(246,78,121,1) 0%, rgba(239,221,255,1) 49%, rgba(246,78,121,1) 100%);
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    font-family: 'Merienda One', cursive;
}

.error-container {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: 'Merienda One', cursive;
}

.location {
    font-size: 24px;
}

.main-temp {
    font-size: 30px;
}

.sub-temp {
    font-size: 14px;
}
