.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

body {
    background: rgb(187,187,237);
    background: linear-gradient(90deg, rgba(187,187,237,1) 1%, rgba(142,139,203,1) 64%, rgba(152,237,255,1) 100%);
}
